{{#each this}}
  <h1 class='title-country'>{{name}}</h1>

  <div class='description-country'>
    <div>
      <div class='capital-description'>
        <p class='capital-country'>Capital: </p>
        <span>{{capital}}</span>
      </div>
      <div class='population-description'>
        <p class='capital-population'>Population: </p>
        <span>{{population}}</span>
      </div>
      <div class='languages-description'>
        <p class='capital-languages'>languages:</p>
        <ul>
          {{#each languages}}
            <li>{{this.name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    <img width='300' src='{{flag}}' alt='flag{{name}}' />
  </div>
{{/each}}